[Unit]
Description=Custom PWM Fan Control for Raspberry Pi
# Avvia subito dopo il kernel e pigpiod
After=basic.target sysinit.target pigpiod.service
Before=multi-user.target
Requires=pigpiod.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/fancontrol/fan_control.py
Restart=always
RestartSec=2
User=pi
Group=pi

[Install]
WantedBy=sysinit.target
