[Unit]
Description=Custom PWM Fan Controller Service for Raspberry Pi
Requires=pigpiod.service
After=pigpiod.service
Before=multi-user.target
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/opt/fancontrol/fan_control
ExecStartPre=/bin/sh -c 'for i in 0 1 2 3 4; do systemctl is-active --quiet pigpiod && exit 0 || sleep 1; done; exit 1'
WorkingDirectory=/opt/fancontrol
User=pi
Group=pi
Restart=always
RestartSec=2
SyslogIdentifier=fancontrol
ProtectHome=true
NoNewPrivileges=true

[Install]
WantedBy=sysinit.target
